In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("/Users/srisabarish/Downloads/sales_data.xlsx")

In [3]:
print(df.isnull().sum())

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [4]:
print(df.mean(numeric_only=True))

Day                 15.665753
Year              2014.401739
Customer_Age        35.919212
Order_Quantity      11.901660
Unit_Cost          267.296366
Unit_Price         452.938427
Profit             285.051665
Cost               469.318695
Revenue            754.370360
dtype: float64

In [5]:
print(df.median(numeric_only=True))

Day                 16.0
Year              2014.0
Customer_Age        35.0
Order_Quantity      10.0
Unit_Cost            9.0
Unit_Price          24.0
Profit             101.0
Cost               108.0
Revenue            223.0
dtype: float64

In [6]:
print(df.mode(numeric_only=True))

    Day  Year  Customer_Age  Order_Quantity  Unit_Cost  Unit_Price  Profit  \
0  24.0  2014          31.0             1.0        2.0         5.0     3.0
1   NaN  2016           NaN             NaN        NaN         NaN     NaN

     Cost  Revenue
0  1252.0     35.0
1     NaN      NaN

In [12]:
products_category=df['Product_Category'].nunique()
print(f"Total Product Categories: {products_category}")

Total Product Categories: 3

In [9]:
products_sub_category=df['Sub_Category'].nunique()
print(f"Total Product sub Categories: {products_sub_category}")

Total Product sub Categories: 17

In [10]:
product_categories=df['Product'].nunique()
print(f" Total product categories: {products_category}")

 Total product categories: 3